* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rethink Sans", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -25%);
}

.desc {
  color: white;
  z-index: 2;
  position: absolute;

  left: 50%;
  top: 27%;
  /* transform: translate(-50%, -25%); */
}

/* .about_title {
  color: white;
  font-size: 3rem;
  z-index: 2;
  
  } */

/*.about_desc {
  color: white;
  font-size: large;
  padding-top: 2%;
  z-index: 2;
 
} */

/* .about {
  align-items: center;
  
  z-index: 2;
  padding-left: 15%;
} */

/* #about_section {
  padding-top: 60%;
  z-index: 2;
} */

.about_title {
  color: white;
  font-size: 3rem;
  z-index: 2;
  /* left: 50%;
  top: 20%;
  transform: translate(-50%, -25%); */
  padding-left: 10%;
}

.about_desc {
  color: white;
  font-size: large;
  padding-top: 2%;
  z-index: 2;
  /* transform: translate(-50%, -25%); */
}

.about {
  align-items: center;
  /* padding-top: 1%; */
  z-index: 2;
  padding-left: 15%;
}

#aboutSection {
  background-color: black;
}
